@model haliEntityLayer.Entity.Social

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}

<h2>Detaylar Sayfası</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Youtube)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Youtube)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instagram)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linkedin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linkedin)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facebook)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter)
            <hr />
        </dd>

    </dl>
</div>
<p>
    <a href="~/Panel/Social/Edit/@Model.SocialID" class="btn btn-warning"><i class="fa fa-pencil"></i> Düzenle</a>

</p>
<hr />
<p>
    <a href="~/Panel/Social/index" class="btn btn-default"><i class="fa fa-sign-out"></i> Listeye Dön</a>

</p>